* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Очищаем все отступы и границы*/
*{
    padding: 0;
    margin: 0;
    border:0;
}
/*Меняет подсчет ширины блока, для более удобной верстки*/
*,*::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*Убираем линии обводки у некоторых браузеров*/
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
/*Добавляет HTML5 тегам значение блок*/
nav,footer,header,aside{display: block;}
/*Уравнивают поведение шрифтов и элементов в разных браузерах*/
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/*Включаем наследование семейства шрифта для тегов form*/
input,button,textarea{font-family: inherit;}
/*Убирают особенности отображения некоторых браузеров*/
input::-ms-clear{display: none;} /*превдоэлемент, который убирает крестик в текстовом поле ввода Бразуера Microsoft*/
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;} /*убирает лишние отступы вокруг кнопок в Mozila*/
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
/*Обнуление заголовков*/
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}


.background{
    width: 100%;
    height: 1500px;
    display: flex;
    justify-content: space-around;

    background: url("../img/background.jpg") 0 0 no-repeat fixed;
    background-size:cover;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,.5);
  
    


    
}




.card1
{
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 50%;
    height: 40%;
    

    
   
}

.card2
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 40%;

   

    
   
}




 

.coffe_text
{
    width: 300px;
    text-align: center;
   
    margin-left: 10px;
    color: white;
    font-family: 'Oswald';
    font-size: 24px;
  
   
}

.img_card
{
    width: 250px;
    height: 400px;
    
}

